#aboutSec2 {
    .secrow1 {
        padding: 10px;
    }

    .bannerContent {
        padding: 10% 0;
    }

    .sec-bg {
        img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

#aboutSec3 {
    .secrow1 {
        flex-direction: column;
        justify-content: center;
    }

    #motifSlider {
        .slideContent {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .sliderNavs {
        top: auto;
        left: 50px;
        right: auto;
        bottom: 5%;
        height: auto;
        width: auto;

        > div {
            display: inline-block;
            background: none;
            box-shadow: none;
            margin-right: 20px;
            padding: 0;
            height: auto;
            width: auto;
        }

        svg {
            stroke: $color1;
            height: 20px;
        }
    }

    .sec-bg {
        left: -100%;
        top: 20%;
        bottom: -20%;
        opacity: 0.1;
        width: 70%;
    }
}

#aboutSec4 {
    padding-top: 60px;
    padding-bottom: 0;
    
    .secHeader {
        padding: 50px 0 0;
        margin: auto auto -50px;
    }

    #founderSlider {
        padding: 0 6% 50px;
        max-width: 1200px;

        .slide {
            padding-top: 100px;
        }
        
        .founderImage {
            margin-top: -120px;
        }

        .founderDesignation {
            padding: 5px 0 20px;
        }
        
        .founderDescription {
            padding-top: 50px;
            padding-bottom: 50px;
            font-size: 17px;
        }

        .founderSocialIcons {
            padding-top: 30px;
            a {
                margin-bottom: 15px; 
            }
        }

        .founderHobbies {
            .secImage {
                max-width: 400px;
            }
            
            > .col {
                border-right: 1px solid $color3;
                
                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    .sliderNavs {
        height: auto;
        padding: 10px 0;
        top: -50px;
        left: 0;
        right: 0;

        > div {
            background: transparent;
            box-shadow: none;
            width: auto;
            height: auto;
            text-align: left;
            padding: 5px 10px;

            svg {
                height: 20px;
            }
        }
    }

    .sec-bg {
        left: -20%;
        right: -40%;
        top: -70%;
        opacity: 0.4;
    }
}

#aboutSec5 {
    .v-stretch {
        width: 48%;
        min-height: 457px;
        margin: 25px auto;
        padding: 9% 50px 5%;
        @include transition ($transition-set2);
        @include transition ($transition-set2);
        @include transform (scale(1));
        
        &:hover {
            box-shadow: 0 6px 24px 4px rgba(25,24,27,.5);
            @include transform (scale(1.05));
            z-index: 2;
        }

        .btn {
            margin-top: 20px;
        }
    }
}

#aboutSec6 {
    .socialIcons{
        a {
            margin: 10px;
        }
        i {
            width: 50px;
            height: 50px;
            background-position-x: 100%;
        }
    }

    .sec-bg {
        left: -30%;
        right: -30%;
        top: -45%;
        opacity: 0.1;
    }
}

#aboutSec7 {
    .container {
        padding: 80px 10px;

        .btn {
            margin-top: 20px;
        }
    }

    .sec-bg {
        top: -40%;
        opacity: .1;
        width: 75%;
    }
}

#aboutSec8 {

    .container-fluid {
        max-width: 1250px;
        margin: auto;
    }

    .faceTile:nth-of-type(7) {
        .faceBox {
            margin: -1px;
        }
    }

    .faceTitle {
        h4 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .faceBox {
        width: 100%;
        height: 100%;
        @include animation (face-change 10s infinite);
        overflow: hidden;
        
        $teamCount: 8;
        $percentage : 100/($teamCount - 1);
        @for $i from 0 through $teamCount {
            &.team-member#{$i+1} {
                background-position-x: ($percentage*$i)+unquote('%');
            }
        }
    }
  

    @include keyframes(face-change) {
        0% { background-position-y: 0%; }
        19.99% { background-position-y: 0%; }
        20% { background-position-y: 25%; }
        39.99% { background-position-y: 25%; }
        40% { background-position-y: 50%; }
        59.99% { background-position-y: 50%; }
        60% { background-position-y: 75%; }
        79.99% { background-position-y: 75%; }
        80% { background-position-y: 100%; }
        100% { background-position-y: 100%; }
    }

}

/************************************ Media queries(Mobile & Tablet) ************************************/
@media only screen and (max-width: 991px) {
    #aboutSec1 {
        padding: 0;

        .container {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
        }

        .secrow1 {
            height: auto;
        }

        .sec-bg {
            position: relative;

            img {
                width: 100%;
            }
        }
    }


    #aboutSec2 {
        .secrow1 {
            padding: 7%;
        }
    }

    #aboutSec3 {
        .sliderNavs {
            display: none;
        }        

        #motifSlider {
            .slide {
                > .d-table.d-xs-block {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: reverse;
                        -ms-flex-direction: column-reverse;
                            flex-direction: column-reverse;  
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                }
            }

            .slideContent {
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;

                br {
                    display: none;
                }
            }
        }

        .slick-dots {
            padding: 15px 0;
            text-align: center;

            li {
                display: inline-block;
                vertical-align: top;
                font-size: 0;
    
                button{
                    width: 10px;
                    height: 10px;
                    background: rgba($color1, 0.29);
                    border-radius: 50%;
                    margin: auto 10px;
                    font-size: 0;
                }
    
                &.slick-active {
                    button{
                        background: rgba($color1, 1);
                    }
    
                }
            }
        }
    }
        
    
    #aboutSec4 {
        padding-top: 70px;
        padding-bottom: 70px;
        
        .secHeader {
            margin: auto;
        }

        .sliderNavs {
            display: none;
        }

        #founderSlider {
            .slide {
                padding-top: 230px;
            }
            
            .founderImage {
                margin-top: -200px;
            }

            .founderDesignation {
                padding: 5px;
            }
            
            .founderDescription {
                text-align: center;
                width: 100%;
                padding: 20px 40px;
            }

            .founderSocialIcons {
                padding-top: 30px;
                padding: 27px 0;
                width: auto;
                position: absolute;
                left: auto;
                right: 10px;
                top: 0;
            }

            .founderHobbies {
                display: inline-block;
                width: auto;
                padding-bottom: 30px;
            }

            .sliderNavs {
                display: none;
            }

            .slick-dots {
                padding: 15px 0;
                text-align: center;

                li {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 0;
        
                    button{
                        width: 10px;
                        height: 10px;
                        background: rgba($color1, 0.29);
                        border-radius: 50%;
                        margin: auto 10px;
                        font-size: 0;
                    }
        
                    &.slick-active {
                        button{
                            background: rgba($color1, 1);
                        }
        
                    }
                }
            }
        }
    }
    
    #aboutSec5 {
        padding: 0;

        &::after{
            display: none;
        }

        
        .secrow1 {
            display: block;
            padding: 0;
        }
        
        .v-stretch {
            width: auto;
            padding: 50px;
            display: block;
            margin: 10%;
            min-height: auto;
    
            .btn {
                margin-top: 15%;
            }
        }
    }

    #aboutSec6 {
        .secHeader {
            margin: auto;
        }

        .socialIcons{
            a {
                margin: 30px 30px auto;
            }
        }
    }

    #aboutSec7{
        .container {
            padding: 50px 10px;
        }
    }

}
/************************************ Media queries(Mobile & Tablet) ************************************/
/************************************ Media queries(Mobile) ************************************/
@media only screen and (max-width: 767px) {
    #aboutSec1 {
        .bannerContent {
            br {
                display: none;
            }
        }

        .sec-bg img {
            width: 200%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    #aboutSec2 {
        .secrow1 {
            padding: 20px;
        }
    }

    #aboutSec3 {
        #motifSlider {
            padding-top: 25px;
        }
    }
    
    #aboutSec4 {
        padding: 25px;

        .secHeader {
            padding: 25px 0 0;
        }

        #founderSlider {
            .slide {
                padding-top: 150px;
            }

            .founderImage {
                margin: auto;
                margin-top: -150px;
                max-width: 200px;
            }

            .founderDescription {
                padding: 0 10px 30px;
                font-size: 13px;
            }
            
            .founderHobbies {
                padding-bottom: 10px;
            }
        }
    }

    #aboutSec5 {
        .v-stretch {
            width: auto;
            padding: 25px;
            margin: 25px ;
        }
    }

    #aboutSec6 {
        .socialIcons{
            a {
                margin: 20px 20px auto;
            }
            
            i {
                width: 40px;
                height: 40px;
            }
        }
    }
    
    #aboutSec7 {
        .container {
            padding: 25px 10px;
        }
    }

    #aboutSec8 {
        .faceGrid {
            display: block;
            float: none;
            max-width: 300px;
            margin: auto;
        }

        .faceTile {
            overflow: hidden;

            .faceBox {
                width: 104%;
                height: 104%;
                left: -2%;
                top: -2%;
            }

            &:nth-of-type(7) .faceBox {
                margin: 0;
            }
        }
    }
}
/************************************ Media queries(Mobile) ************************************/
/************************************ Media queries(Older Mobiles) ************************************/
@media only screen and (max-width: 359px) {

}
/************************************ Media queries(Older Mobiles) ************************************/