
#aboutSec1 {
    .sec-bg {
        img {
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
    }
}


#aboutSec2 {
    .secrow1 {
        padding: 10px;
    }
}

#aboutSec3 {
    .secrow1 {
        flex-direction: column;
        justify-content: center;
    }

    #motifSlider {
        .slideContent {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .sliderNavs {
        top: auto;
        left: 50px;
        right: auto;
        bottom: 5%;
        height: auto;
        width: auto;

        > div {
            display: inline-block;
            background: none;
            box-shadow: none;
            margin-right: 20px;
            padding: 0;
            height: auto;
            width: auto;
        }

        svg {
            stroke: $color1;
            height: 20px;
        }
    }

    .sec-bg {
        left: -100%;
        top: 20%;
        bottom: -20%;
        opacity: 0.1;
        width: 70%;
    }
}

#aboutSec4 {
    padding-top: 50px;
    padding-bottom: 0;
    
    .secHeader {
        padding: 50px 0 0;
        margin: auto auto -50px;
    }

    #founderSlider {
        padding: 0 6%;
        max-width: 1200px;

        .slide {
            padding-top: 100px;
        }
        
        .founderImage {
            margin-top: -120px;
        }

        .founderDesignation {
            padding: 5px 0 20px;
        }
        
        .founderDescription {
            padding-top: 50px;
            padding-bottom: 50px;
            font-size: 17px;
        }

        .founderSocialIcons {
            padding-top: 30px;
            a {
                margin-bottom: 15px; 
            }
        }

        .founderHobbies {
            .secImage {
                max-width: 400px;
            }
            
            > .col {
                border-right: 1px solid $color3;
                
                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    .sliderNavs {
        height: auto;
        padding: 10px 0;
        left: 0;
        right: 0;

        > div {
            background: transparent;
            box-shadow: none;
            width: auto;
            height: auto;
            text-align: left;
            padding: 5px 10px;

            svg {
                height: 20px;
            }
        }
    }

    .sec-bg {
        left: -20%;
        right: -40%;
        top: -70%;
        opacity: 0.4;
    }
}

#aboutSec5 {
    &::after{
        content: '';
        @extend %absolute-basic;
        background-color: $color1;
        z-index: 2;
        height: 50px;
        bottom: auto;
    }

    .v-stretch {
        width: 48%;
        min-height: 457px;
        margin: 25px auto;
        padding: 9% 50px 5%;
        @include transition ($transition-set2);
        @include transition ($transition-set2);
        @include transform (scale(1));
        
        &:hover {
            box-shadow: 0 6px 24px 4px rgba(25,24,27,.5);
            @include transform (scale(1.05));
            z-index: 2;
        }

        .btn {
            margin-top: 20px;
        }
    }
}

#aboutSec6 {
    .socialIcons{
        a {
            margin: 10px;
        }
        i {
            width: 50px;
            height: 50px;
            background-position-x: 100%;
        }
    }

    .sec-bg {
        left: -30%;
        right: -30%;
        top: -45%;
        opacity: 0.1;
    }
}

#aboutSec7 {
    .container {
        padding: 80px 10px;

        .btn {
            margin-top: 20px;
        }
    }

    .sec-bg {
        top: -40%;
        opacity: .1;
        width: 75%;
    }
}


// Gallery cube preset
$cubeWidth: 15vw;
$cubeHeight: 15vw;
$cubeDepth: $cubeHeight;


// Gallery cube calculations
$cubeContainerWidth: floor($cubeWidth*1.124);
$cubeContainerHeight: floor($cubeHeight*1.124);

#aboutSec8 {
    padding: 10vw 0;
    .faceGrid {
        float: left;
        width: 80vw;
        margin-left: 10vw;
    }

    .faceTile {
        width: $cubeContainerWidth;
        height: $cubeContainerHeight;
        padding: ($cubeContainerWidth - $cubeWidth)/2;
        float: left;
        overflow: hidden;
    }

    .faceTitle{
        width: floor($cubeContainerWidth*2);
        height: $cubeContainerHeight;
    }

    .space3d {
        @include property($perspective: 1000px);
        width: $cubeWidth;
        height: $cubeHeight;

        ._3dbox {
            @include property ($transform-style: preserve-3d);
            @include animation (cube-rotation ease-in-out 20s infinite forwards);
            @include transition (all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275));

            $teamCount: 8;
	        $percentage : 100/($teamCount - 1);

            @for $i from 0 through $teamCount {
                &.team-member#{$i+1} {
                    [class*="sprite-team-member"] {
                        width: $cubeContainerWidth;
                        height: $cubeContainerWidth;
                        background-position-x: ($percentage*$i)+unquote('%');
                    }
                }
            }
        }
    
        ._3dface {
            position: absolute;
            line-height: $cubeWidth;
            opacity: 1;
    
            &.face-front {
                width: $cubeWidth;
                height: $cubeHeight;
                @include transform(rotateX(0) rotateY(0) translate3d(0, 0, $cubeDepth / 2));
            }
        
            &.face-top {
                width: $cubeWidth;
                height: $cubeDepth;
                @include transform(rotateX(90deg) translate3d(0, 0, $cubeHeight / 2));
            }
        
            &.face-bottom {
                width: $cubeWidth;
                height: $cubeDepth;
                @include transform(rotateX(-90deg) translate3d(0, 0, $cubeHeight / 2));
            }
        
            &.face-left {
                width: $cubeDepth;
                height: $cubeHeight;
                left: 50%;
                margin-left: -$cubeDepth / 2;
                @include transform(rotateY(-90deg) translate3d(0, 0, $cubeWidth / 2));
            }
        
            &.face-right {
                width: $cubeDepth;
                height: $cubeHeight;
                left: 50%;
                margin-left: -$cubeDepth / 2;
                @include transform(rotateY(90deg) translate3d(0, 0, $cubeWidth / 2));
            }
        
            &.face-back {
                width: $cubeWidth;
                height: $cubeHeight;
                @include transform(rotateY(180deg) translate3d(0, 0, $cubeDepth / 2));
            }
        }
    }

}

/************************************ Media queries(Mobile & Tablet) ************************************/
@media only screen and (max-width: 991px) {

}
/************************************ Media queries(Mobile & Tablet) ************************************/
/************************************ Media queries(Mobile) ************************************/
@media only screen and (max-width: 767px) {
    
}
/************************************ Media queries(Mobile) ************************************/
/************************************ Media queries(Older Mobiles) ************************************/
@media only screen and (max-width: 359px) {

}
/************************************ Media queries(Older Mobiles) ************************************/