.career {
    section {
        > .sec-bg {
            z-index: -1;
        }
    }

    header.transparent {
         .menu-scroll a {
             &:hover,
             &:focus,
             &:active {
                 color: $color1;
            }
        }
    }
}

#careerSec1 {
    .secrow1 {
        .text-stroke {
            color: rgba($color1, 0.5);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px; 
            -webkit-text-stroke-color: rgba($color1, 0.5);
        }

        .secHeader {
            padding:3vh 15px;
            margin: auto;
        }
    }

    .bannerContent {
        flex-direction: column;
        justify-content: flex-end;
    }

    .sec-bg {
        .image-top {
            bottom: auto;
            z-index:2;
        }

        .image-right {
            background-image: url('../images/Career-bg1-right.png');
            background-repeat: repeat;
            @include animation(bgScrollRight 1600s infinite linear);
        }

        .image-left {
            background-image: url('../images/Career-bg1-left.png');
            background-repeat: repeat;
            @include animation(bgScrollLeft 1600s infinite linear);
        }
    }
}

#careerSec2 {
    .secrow1{
        .dealSliderScore {
            top: auto;
            right: auto;

            div {
                padding: 5px 10px;

                &:last-child {
                    padding-left: 25px;

                    &::after{
                        content: '';
                        @extend %absolute-basic;
                        background-color: $color1;
                        height: 2px;
                        width: 30px;
                        right: 100%;
                        left: -10px;
                    }
                }
            }
        }

        #dealSlider {
            .slick-track, .slick-list {
                height: 100% !important;
            }

            .slide {
                max-width: 480px;
                max-height: 560px;
                padding: 40px 20px;
                @include transition($transition-set2);
                top: 50%;
                transform: translateY(-50%);
                position: relative;

                &.slick-current {                    
                    .innerSlide {
                        box-shadow : $box-shadow3;
                    }
                }

                .innerSlide {
                    .absolute-bg{
                        top:auto;
                        padding: 40px;
                        z-index: 3;

                        .secHead {
                            padding: 20px 0;
                        }
                    }
                }
            }
        }

        .sliderNavs {
            left: 0;
            right: 0;
            height: auto;
            padding-left: 20px;
            position: relative;
            top: -33px;

            > div {
                background: transparent;
                box-shadow: none;
                width: auto;
                height: auto;
                text-align: left;
                padding: 5px 10px;

                svg {
                    stroke:$color1;
                    height: 20px;
                }
            }
        }
    }

    .sec-bg {
        opacity: 0.1;

        img {
            width: 200%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

#careerSec3 {
    .secrow1 {
        flex-direction: column;
    }

    #slaySlider {
        flex: 1 1 50%;
        max-height: 100%;
        .slick-track, .slick-list {
            height: 100% !important;
        }

        .innerslide{
            display: flex;
            height: 100%;
        }

        .slideContent {
            align-self: center;
            padding-left: 50px;
            padding-right: 50px;
        }

        .secImage {
            img {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    .sliderNavs {
        top: auto;
        left: 50px;
        right: auto;
        bottom: 10%;
        height: auto;
        width: auto;

        > div {
            display: inline-block;
            background: none;
            box-shadow: none;
            margin-right: 20px;
            padding: 0;
            height: auto;
            width: auto;
        }

        svg {
            height: 20px;
        }
    }
}

#careerSec4 {
    .secrow2{
        .slide{
            padding: 40px 20px 20px;

            .slideContent {
                .secHeader {
                    padding-top: 0;
                    margin-top: 0;
                    margin-bottom: 20px;
                }

                .secText {
                    margin-top: 4vh;
                }

                .scrollable-content {
                    max-height: 130px;
                    padding-right: 5%;
                    overflow-y: hidden;

                    &:hover {
                        overflow-y: auto;
                    }
                }
            }

            .v-stretch {
                margin: auto;
                max-width: 380px;
                min-height: 500px;
                padding: 15% 30px 15%;
                @include transition ($transition-set2);

                &::after {
                    content: '';
                    @extend %absolute-basic;
                    background: transparent;
                    @include transition ($transition-set2);
                }
        
                .btn {
                    margin-top: 50px;
                }

                .absolute-bg {
                    opacity: 1;
                    @include transition ($transition-set2);
                    
                    &.hover-image {
                        opacity: 0;
                    }
                }

            }
    
            &:hover {
                .v-stretch {
                    &::after {
                        background: rgba($color7, 0.5);
                    }
                    
                    .btn {
                        background: $color1;
                        color: $color7;
                    }

                    .absolute-bg {
                        opacity: 0;
                        
                        &.hover-image {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .sliderNavs {
            height: auto;
            padding-left: 20px;
            padding-top: 15px;

            > div {
                background: transparent;
                box-shadow: none;
                width: auto;
                height: auto;
                text-align: left;
                padding: 5px 10px;

                svg {
                    height: 20px;
                }
            }
        }
    }
}

#careerSec5 {
    min-height: auto;
    padding-top: 90px;
    padding-bottom: 50px;
    // .container {
    //     top: 50%;
    //     @include transform (translateY(-50%));
    // }

    .sec-bg {
        opacity: .3;
        top: -25%;
        left: -10%;
        right: 10%;
    }
}

#careerSec6 {
    .secContent {
        padding: 50px 50px 50px 70px;

        .btn {
            margin-top: 30px;
        }
    }

    .sec-bg {
        opacity: 0.1;

        img {
            width: 200%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

/************************************ Media queries(Mobile & Tablet) ************************************/
@media only screen and (max-width: 991px) {
    
#careerSec3 {
    #slaySlider {
        .innerslide{
            flex-direction: column;

            .cell:last-child {
                flex: 1 1 auto;
            }
        }

    }
}

}
/************************************ Media queries(Mobile & Tablet) ************************************/
/************************************ Media queries(Mobile) ************************************/
@media only screen and (max-width: 767px) {
    #careerSec1 {
        .secrow1 {
    
            .secHeader {
                padding:3vh 0;
            }
        }
    
        .sec-bg {    
            .image-right,    
            .image-left {
                animation-duration: 6400s;
                background-size: 750px;
            }
        }
    }

    #careerSec2 {
        padding-right: 30px;
        .secrow1{
            flex-direction: column;

            .dealSliderScore {
                display: none;
            }

            #dealSlider {
                .slick-track, .slick-list {
                    height: 100% !important;
                }
    
                .slide {
                    padding: 20px 0;
                }
            }
        }
    }

    #careerSec6 {
        .secContent {
            padding: 25px;
    
        }

        .secImage.animate {
            opacity: 1;
        }
    }
}
/************************************ Media queries(Mobile) ************************************/
/************************************ Media queries(Older Mobiles) ************************************/
@media only screen and (max-width: 359px) {

}
/************************************ Media queries(Older Mobiles) ************************************/