.career {
    section {
        > .sec-bg {
            z-index: -1;
        }
    }
}

#careerSec1 {

    // &::after {
    //     content: '';
    //     @extend %absolute-basic;
    //     background: transparent;
    //     background: -moz-linear-gradient(0deg, rgba($color1,0) 20%, rgba($color7,1) 100%);
    //     background: -webkit-linear-gradient(0deg, rgba($color1,0) 20%, rgba($color7,1) 100%);
    //     background: linear-gradient(0deg, rgba($color1,0) 20%, rgba($color7,1) 100%);
    //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ff3333",GradientType=1);
    // }

    .secrow1 {
        .text-stroke {
            color: rgba($color1, 0.5);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px; 
            -webkit-text-stroke-color: rgba($color1, 0.5);
        }

        .secHeaer {
            padding-bottom: 30px;
        }
    }

    .sec-bg {
        .image-top {
            bottom: auto;
            z-index:2;
        }

        .image-right {
            background-image: url('../images/Career-bg1-right.png');
            background-repeat: repeat;
            @include animation(bgScrollRight 1200s infinite linear);
        }

        .image-left {
            background-image: url('../images/Career-bg1-left.png');
            background-repeat: repeat;
            @include animation(bgScrollLeft 1200s infinite linear);
        }
    }
}

#careerSec2 {
    .secrow1{
        .dealSliderScore {
            top: auto;
            right: auto;

            div {
                padding: 5px 10px;

                &:last-child {
                    padding-left: 25px;

                    &::after{
                        content: '';
                        @extend %absolute-basic;
                        background-color: $color1;
                        height: 2px;
                        width: 30px;
                        right: 100%;
                        left: -10px;
                    }
                }
            }
        }

        #dealSlider {
            .slide {
                max-width: 480px;
                padding: 40px 20px;
                @include transition($transition-set2);

                &.slick-current {                    
                    .innerSlide {
                        box-shadow : $box-shadow3;
                    }
                }

                .innerSlide {
                    .absolute-bg{
                        top:auto;
                        padding: 40px;
                        z-index: 3;

                        .secHead {
                            padding: 20px 0;
                        }
                    }
                }
            }
        }

        .sliderNavs {
            left: 0;
            right: 0;
            height: auto;
            padding-left: 20px;

            > div {
                background: transparent;
                box-shadow: none;
                width: auto;
                height: auto;
                text-align: left;
                padding: 5px 10px;

                svg {
                    stroke:$color1;
                    height: 20px;
                }
            }
        }
    }

    .sec-bg {
        opacity: 0.1;

        img {
            width: 200%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

#careerSec3 {
    #slaySlider {
        .slideContent {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .sliderNavs {
        top: auto;
        left: 50px;
        right: auto;
        bottom: 10%;
        height: auto;
        width: auto;

        > div {
            display: inline-block;
            background: none;
            box-shadow: none;
            margin-right: 20px;
            padding: 0;
            height: auto;
            width: auto;
        }

        svg {
            height: 20px;
        }
    }
}

#careerSec4 {
    .secrow2{
        .slide{
            padding: 40px 20px;

            .v-stretch {
                max-width: 380px;
                min-height: 500px;
                padding: 20% 30px 15%;
                @include transition ($transition-set2);

                &::after {
                    content: '';
                    @extend %absolute-basic;
                    background: transparent;
                    @include transition ($transition-set2);
                }
        
                .btn {
                    margin-top: 50px;
                }

                .absolute-bg {
                    opacity: 1;
                    @include transition ($transition-set2);
                    
                    &.hover-image {
                        opacity: 0;
                    }
                }

            }
    
            &:hover {
                .v-stretch {
                    &::after {
                        background: rgba($color7, 0.5);
                    }
                    
                    .btn {
                        background: $color1;
                        color: $color7;
                    }

                    .absolute-bg {
                        opacity: 0;
                        
                        &.hover-image {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .sliderNavs {
            height: auto;
            padding-left: 20px;

            > div {
                background: transparent;
                box-shadow: none;
                width: auto;
                height: auto;
                text-align: left;
                padding: 5px 10px;

                svg {
                    height: 20px;
                }
            }
        }
    }
}

#careerSec5 {
    min-height: auto;
    padding-top: 90px;
    padding-bottom: 50px;
    // .container {
    //     top: 50%;
    //     @include transform (translateY(-50%));
    // }

    .sec-bg {
        opacity: .3;
        top: -25%;
        left: -10%;
        right: 10%;
    }
}

#careerSec6 {
    .secContent {
        padding-left: 70px;
        padding-right: 50px;

        .btn {
            margin-top: 30px;
        }
    }

    .sec-bg {
        opacity: 0.1;

        img {
            width: 200%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}