.home {
    section {
        > .sec-bg {
            z-index: -1;
        }
    }
}

#homeSec1 {
    .secrow1 {
        .bannerContent {
            max-width: 430px;
            top: -30px;

            .btn {
                margin-top: 8%;
            }
        }

        .absolute-bg {
            max-height: 90%;
            max-width: 75%;
            top: auto;
            left : auto;
            right: 20px;
        }
    }

    .sec-bg {
        img {
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            
        }
    }

    .pattern-bg {
        opacity: 0.5;
    }
}

#homeSec2 {
    .secrow1 {
        .secText {
            padding-top: 2vh;
        }
    }

    .sec-bg {
        right: auto;
        left: -50%;
        top: -73%;
    }
}

#homeSec3 {
    .container-fluid {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #categorySlider {
        .slide {
            .secText {
                padding: 30px 0;
            }
        }
    }

    #categorySliderLinks {
        padding: 20px;

        .slick-dots {
            li {
                display: inline-block;
                vertical-align: top;
                padding: 5px 15px;
                position: relative;

                div {
                    font-size: 12px;
                    letter-spacing: 1px;
                    cursor: pointer;
                }

                &::after {
                    content: '';
                    @extend %absolute-basic;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    right: auto;
                    background-color: $color4;
                }

                &:first-child {
                    &::after {
                        display: none;
                    }
                }

                &.slick-active {
                    div {
                        color: $color7;
                    }
                }
            }
        }
    }

    #categorySliderDots{
        display: none;

        li {
            display: inline-block;
            vertical-align: top;

            button{
                width: 10px;
                height: 10px;
                background: rgba($color1, 0.29);
                border-radius: 50%;
                margin: auto 7px;
            }

            &.slick-active {
                button{
                    background: rgba($color1, 1);
                }

            }
        }
    }

    .sec-bg {
        right: auto;
        left: -33%;
        opacity: 0.1;
        width: 80%;
    }
}

#homeSec4 {
    padding-top: 50px;

    .secrow1 {
        background-color: rgba($color6,0.5);
        padding-bottom: 150px;

        .cell:nth-child(1) {
            padding-left: 50px;
            padding-right: 50px;
            
            .secHead {
                padding: 20px 0;
            }
        }

        .mapSec {
            .clientCountry {
                display: none;
            }
        }

        .secImage {
            padding: 5% 5% 0 0;

            svg#clientsMap {
                image {
                    position: relative;
                    z-index: 0;
                }

                .clientLocation{
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    &.active {
                        fill: $color7;
                    }
                }
            }
        }
    }

    .sliderContainer {
        max-width: 1000px;
        margin: auto;
        margin-top: -150px;

        .slide {
            margin: 50px auto;
            background-color: $color6;
            position: relative;

            .secImage {
                [class*=sprite-client] {
                    background-position-x: 100%;
                }
                // img {
                //     display: none;
                // }
                // .greyImage {
                //     display: block;
                // }
            }

            &.slick-center{
                z-index: 2;
                box-shadow: 0 20px 30px rgba($color3, 0.1);
                .secImage {
                    [class*=sprite-client] {
                        background-position-x: 0;
                    }
                }
            }
        }
    }
}

#homeSec5 {
    .secrow1{
        .testimonialSliderScore {
            right: auto;
            left: -71%;
            top: auto;
            bottom: auto;

            div {
                padding: 5px 10px;

                &:last-child {
                    padding-left: 25px;

                    &::after{
                        content: '';
                        @extend %absolute-basic;
                        background-color: $color1;
                        height: 1px;
                        width: 30px;
                        right: 100%;
                        left: -10px;
                    }
                }
            }
        }

        #testimonialSlider {
            .slide {
                max-width: 480px;
                padding: 10px 20px;
                @include transform (scale(0.9));
                @include transition($transition-set2);

                &.slick-current {
                    @include transform (scale(1));
                    
                    .innerSlide {
                        box-shadow : $box-shadow3;
                    }
                }

                .innerSlide {
                    padding: 5vh;

                    .secImage {
                        height: 30px;
                        margin-bottom: 20px;
                        img {
                            margin-left: 0;
                        }
                    }

                    .secText {
                        margin-bottom: 5vh;
                        max-height: 150px;
                        padding-right: 16%;
                        overflow-y: hidden;
                    }

                    .testiDetails {
                        border-top: 1px solid $color3;
                        padding-top:25px;
                        margin-top:5px;
                    }

                    &:hover {
                        .secText {
                            overflow-y: auto;
                        }
                    }
                }
            }
        }

        .sliderNavs {
            left: 0;
            right: 0;
            height: auto;
            padding-left: 10px;
            padding-top: 3%;

            > div {
                background: transparent;
                box-shadow: none;
                width: auto;
                height: auto;
                text-align: left;
                padding: 5px 10px;

                svg {
                    stroke:$color1;
                    height: 20px;
                }
            }
        }
    }
}

#homeSec6 {
    .secrow1 {        
        max-width: 1155px;
        padding: 2% 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

    .v-stretch {
        padding: 8vh;
        max-height: 490px;
        @include transition ($transition-set2);
        @include transform (scale(1));
        @include anim($fill-mode: backwards);

        &:hover {
            @include transform (scale(1.05));
            z-index: 2;
        }

        .btn {
            margin-top: 50px;
        }
    }
    
    .sec-bg {
        width: 85%;
        top: -10%;
        bottom: auto;
        opacity: 0.1;
    }
}

#homeSec7 {
    padding-bottom: 0;
    .secrow1 {
        padding: 15% 50px 5% 50px;
        background: url("../images/Home-img7.jpg") center/cover no-repeat;
    }
    
    .secrow2 {
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .row2col2{
            padding-right: 60px;
        }

        .footHead {
            padding: 30px 0;
        }

        .footerSocialLinks {
            a:hover {
                color: $color7;
            }
        }
    
        .sec-bg.pattern1 {
            width: 70%;
            top: auto;
            bottom: 65%;
            right: auto;
            left: -17%;
        }

        .sec-bg.pattern2 {
            width: 75%;
            top: 15%;
            bottom: auto;
            right: auto;
            left: 80%;
        }
    }
}

/************************************ Media queries(Mobile & Tablet) ************************************/
@media only screen and (max-width: 991px) {
    #homeSec1 {
        .secrow1 {
            .bannerContent {
                padding-top: 10%;
                top: 0;
    
                .btn {
                    margin-top: 5%;
                }
            }
    
            .absolute-bg {
                max-height: 90%;
                max-width: 100%;
                margin-top: -15%;
                left: auto;
                right: 0;
                position: relative;
            }
        }
    
        .sec-bg {
            img {
                left: 80%;                
            }
        }
    }

    
    #homeSec2 {
        .secrow1 {
            .secText {
                padding:0 10%;
                text-align: center;
            }
        }

        .hideMobile {
            display: none;
        }

        #causeAndPlayLottie {
            margin: 5% auto;
        }

        .sec-bg {
            right: auto;
            left: -50%;
            top: -73%;
        }
    }

    #homeSec3 {
        padding-left: 50px;
        padding-right: 50px;

        .secrow1 {
            padding-bottom: 10%;
        }

        .secrow2 {
            display: none;
        }
        
        #categorySlider {
            .slide {
                text-align: center;
                 
                .cell:last-child {
                    padding: 50px 0;
                }
                .secText {
                    padding: 30px;

                    br {
                        display: none;
                    }
                }
            }
        }

        #categorySliderDots {
            display: block;
        }
    }

    #homeSec4 {
        text-align: center;
        padding-bottom: 0;

        br {
            display: none;
        }

        .secrow1 {    
            .cell {
                padding: 5% 5% 0;
                
                .secHead {
                    padding: 20px 0;
                }
            }
    
            .secImage {
                padding: 0;    
            }
        
            .clientCountry {
                display: none;
            }
    
            .mapSec {
                .clientCountry {
                    display: block;
                }
            }
        }

        .secrow3 {
            margin-right: -60px;
            margin-left: -60px;
            width: auto;
            padding: 0;
        }

        .sliderNavs {
            display: none;
        }
        
    }

    #homeSec5 {

        .secHeader {
            margin-left: -50px;
            text-align: center;
            br {
                display: none;
            }

            span {
                display: block;
            }
        }

        .secrow1 {
            #testimonialSlider {
                .slide {
                    @include transform (scale(1));
                    
                    .innerSlide {
                        .secText {
                            overflow-y: auto;
                        }
                    }
                }
            }

            .sliderNavs {
                display: none;
            }

            .slick-dots {
                padding: 20px 0 0;
                text-align: center;

                li {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 0;
        
                    button{
                        width: 10px;
                        height: 10px;
                        background: rgba($color1, 0.29);
                        border-radius: 50%;
                        margin: auto 10px;
                        font-size: 0;
                    }
        
                    &.slick-active {
                        button{
                            background: rgba($color1, 1);
                        }
        
                    }
                }
            }
        }
    }

    
    #homeSec6 {
        padding-top: 0;
        padding-bottom: 0;

        .secrow1 {
            display: block;
            padding: 0;
        }
        
        .v-stretch {
            padding: 50px;
            display: block;
            margin: 10% auto;
    
            .btn {
                margin-top: 10%;
            }
        }
    }

    #homeSec7 {
        .secrow1 {
            padding: 7%;
        }

        .secrow2 {
            padding: 7%;
            display: block;

            .row2col1 {
                display: inline-block;
                width: 100%;

                .footHead {
                    padding-top: 0;
                }
                
                .row {
                    float: left;
                    width: 50%;
                }
            }

            .row2col2 {
                padding-right: 0;
            }

            .row2col3 {                    
                li {
                    font-weight: 400;
                }
            }

            .footHead {
                padding: 25px 0 5px;
            }
            
            .secText {
                padding: 0 0 10px;
            }
        }
    }

}
/************************************ Media queries(Mobile & Tablet) ************************************/
/************************************ Media queries(Mobile) ************************************/
@media only screen and (max-width: 767px) {
    #homeSec3 {
        padding-left: 25px;
        padding-right: 25px;
        
        #categorySlider {
            .slide {                 
                .cell:last-child {
                    padding: 25px 0;
                }
                .secText {
                    padding: 20px 0;
                }
            }
        }
    }

    #homeSec4 {
        .secrow1 {
            background-color: rgba(227,231,232,.5);
            padding-bottom: 120px;
        }
        
        [class*="sprite-client"] {
            width: 120px;
            height: 120px;
        }
    }

    #homeSec5 {
        .secHeader {
            margin-left: -25px;
        }

        .secrow1 {
            #testimonialSlider {
                .slide {
                    width: 300px;
                    padding: 10px;

                    &.slick-current {                    
                        .innerSlide {
                        }
                    }

                    .innerSlide {
                        padding: 20px;

                        .secText {
                            margin-bottom: 20px;
                            max-height: 150px;
                            padding-right: 20px;
                            overflow-y: hidden;
                        }

                        .testiDetails {
                            border-top: 1px solid $color3;
                            padding-top:25px;
                            margin-top:5px;
                        }

                        &:hover {
                            .secText {
                                overflow-y: auto;
                            }
                        }
                    }
                }
            }

        }
    }

    #homeSec6 {
        .v-stretch {
            padding: 25px;
            margin: 25px auto;
    
            .btn {
                margin-top: 25px;
            }
        }
    }

    #homeSec7 {
        .secrow1 {
            padding: 25px;
        }

        .secrow2 {
            padding: 25px;

            .footHead {
                padding: 25px 0 5px;
            }
            
            .secText {
                padding: 0 0 10px;
            }
        }
    }

}
/************************************ Media queries(Mobile) ************************************/
/************************************ Media queries(Older Mobiles) ************************************/
@media only screen and (max-width: 359px) {

}
/************************************ Media queries(Older Mobiles) ************************************/