
/****************** Loader styles ******************/
#page_loader {
	width: 100%;
	height: 100%;
	position: fixed;
    z-index: 99999;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $color1;
		opacity: 1;
    }

	.spinner_svg {
		@extend %absolute-basic;
		@include anim($name: rotate, $duration: 2s, $timing-function: linear, $iteration-count: infinite);
		z-index: 2;

		.path {
			stroke-dasharray: 1, 850;
			stroke-dashoffset: 0;
			stroke: $color7;
			stroke-linecap: round;
			@include anim($name: dash, $duration: 1.5s, $timing-function: ease-in-out, $iteration-count: infinite);
		}

		.bgPath {
			stroke: $color8;
		}
	}
}

@include keyframes(rotate) {
	100% {
		@include transform(rotate(360deg));
	}
}

@include keyframes(dash) {
	0% {
		stroke-dasharray: 1, 850;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 850;
		stroke-dashoffset: -35;
	}

	100% {
		stroke-dasharray: 90, 850;
		stroke-dashoffset: -150;
	}
}
/****************** Loader styles ******************/
/****************** Header styles ******************/
header {
	height: auto;

	.navbar {
        padding: 0 80px;
		position: fixed;
		z-index: 99;
		@include transition($transition-set3);
        @include color($color3);
        background-color: $color1;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,.1);
        
        .container {
            padding-left: 70px;
            padding-right: 70px;
        }
    }
    
    .logoAnchor {
        max-width: 136px;
        img {
            margin-top: 3px;
            @include transition($transition-set2);
        }

        .logo-default{
            display: none;
        }
	}

    .menu-scroll {
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        line-height: 24px;
        padding: 12px 15px;
        margin: 18px auto;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    &.transparent {
        .navbar {
            @include color($color1);
            background-color: transparent;
            box-shadow: none;
        }
        

        .logoAnchor {    
            .logo-black{
                display: none;
            }

            .logo-default {
                display: block;
            }
        }
    }

    #scrollToTop {
        height: 20px;
        @extend %absolute-basic;
        position: fixed;
        right: auto;
        left: 33px;
        z-index: 99;
        @include transform(rotate(-90deg) translateX(-50%));
        @include property($transform-origin: 0 0);

        #scrollToTopBtn{
            color: $color1;

            span {
                padding: 2px;
            }

            svg {
                fill: none;
                stroke:$color1;
                stroke-width: 1.5;
                stroke-miterlimit: 10;
                height: 20px;
                margin: 0 5px;
            }
        }

        &.dark{
            #scrollToTopBtn{
                color: $color3;

                svg {
                    stroke: $color3;
                }
            }

            &::after {
                background: $color3;
            }
        }
    }

    .connectFloat {
        padding: 30px;
        line-height: 30px;
        margin: 3%;
        position: fixed;
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        z-index: 99;
        @include transition($transition-set2);
        
        .connectBtn {
            padding: 17px 15px 13px;
            border-radius: 50%;
            box-shadow: $box-shadow1;
            @include transition($transition-set2);
        }

        #connectText {
            @extend %absolute-basic;
            left: 15px;
            right: 15px;
            top: 15px;
            bottom: auto;
            z-index: -1;
            @include transform(scale(1));
            @include transition($transition-set2);

            i {
                width: 90px;
                height: 90px;
            }
        }

        &.dark {
            #connectText {
                i {
                    background-position-x: 100%;
                }
            }
        }

        .socialIcons {
            @include transition($transition-set3);
            @include transform(scale(0));
            a {
                padding: 5px;
                position: absolute;
                bottom: 0;
                left: 0;
                @include property($transform-origin: center);
                box-shadow: $box-shadow1;

                &:nth-child(1) {
                    @include transform(translate(-36px, -30px));
                }

                &:nth-child(2) {
                    @include transform(translate(-10px, -60px));
                }

                &:nth-child(3) {
                    @include transform(translate(30px, -64px));
                }

                i {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &:hover {
            #connectText{
                @include transform(scale(0));
            }

            .socialIcons{
                @include transform(scale(1));
            }
        }

    }
}
/****************** Header styles ******************/
/****************** Footer ******************/
footer {
    .footrow1 {
        padding: 25px 10px;
    }
}
/****************** Footer ******************/

/****************** fullpage.js patch work ******************/
script + div {
    animation: fadeOut 0.1s forwards;
}

@include keyframes(fadeOut) {
    0% {
        opacity: 1;
        @include transform(scale3d(0.3, 0.3, 0.3));
    }

    to {
        opacity: 0;
        @include transform(scale3d(0,0,0));
    }
}
/****************** fullpage.js patch work ******************/