/****************** Media Break Points ******************/
/*  Mobile     : 0      -   767px   */
/*  Tablet     : 768px  -   991px  */
/*  Laptop     : 992px  -   1330px  */
/*  Desktop    : 1331px -   max  */
/****************** Media Break Points ******************/
/****************** Column styles ******************/
@media only screen and (min-width: 768px) {
	@include grid-columns('sm');
	.lg-show,
	.md-show,
	.sm-hide,
	.xs-show {
		display: $hide
	}
	//.sm-show {display: $show}
}

@media only screen and (min-width: 991px) {
	@include grid-columns('md');
    .lg-show,
    .md-hide,
    .sm-show,
    .xs-show {
    	display: $hide
    }
    // .md-show { display: $show }
}

@media only screen and (min-width: 1330px) {
	@include grid-columns('lg');
	.lg-hide,
	.md-show,
	.sm-show,
	.xs-show {
		display: $hide
	}

	//.lg-show { display: $show }
}
/****************** Column styles ******************/
/****************** fullpage to Parallax styles ******************/
@media only screen and (max-width: 992px), only screen and (max-height: 600){
    section {
        min-height: 100vh;
        height: auto;
    }
}
/****************** Parallax and fullpage styles ******************/
@media only screen and (max-width: 991px){
/****************** Global ******************/
    section{
        min-height: auto;
        height: auto;
        padding: 70px 50px;
    }
/****************** Global ******************/
/****************** Display and align styles ******************/
    .d-sm-block{
        display: block;
    }

    .d-sm-block.d-table {
        display: inline-block;
    }

    .d-sm-block.d-flex > .col,
    .d-sm-block.d-table > .cell{
        display: block;
        float: left;
    }
/****************** Display and align styles ******************/
/****************** Common styles ******************/
    .secHeader {
        margin-bottom: 20px;
        margin-top: 12px;
    }

    .secBlock{
        padding: 40px 0 10px;
    }

    .secText {
        padding: 10px 0;
    }
/****************** Common styles ******************/
/****************** Font Sizes ******************/
    .fs0 {
        font-size: 12px;
        line-height: 1.6;
    }

    .fs1 {
        font-size: 13px;
        line-height: 1.6;
    }

    .fs2 {
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.4px;
    }

    .fs3 {
        font-size: 17px;
        line-height: 1.6;
    }

    .fs4 {
        font-size: 20px;
        line-height: 1.6;
    }

    .fs5 {
        font-size: 25px;
        line-height: 1.3;
    }

    .fs6 {
        font-size: 30px;
        line-height: 1.3;
    }

    .hs1 {
        font-size: 80px;
        line-height: 1;
    }

    .hs2 {
        font-size: 64px;
        line-height: 1;
    }

    .hs3 {
        font-size: 40px;
        line-height: 1.2;
    }

    .hs4 {
        font-size: 36px;
        line-height: 1.15;
    }

    .hs5 {
        font-size: 32px;
        line-height: 1.1;
    }
/****************** Font Sizes ******************/
}

@media only screen and (max-width: 767px){
/****************** Column Styles ******************/
	.lg-show,
	.md-show,
	.sm-show,
	.xs-hide {
		display: $hide
	}
/****************** Column Styles ******************/
/****************** Global ******************/
    section {
        padding: 25px;
    }
/****************** Global ******************/
/****************** Button styles ******************/
    .btn {
        font-size: 11px;
        padding: 8px 15px;
        border-radius: 18px 18px 18px 0;
    }
/****************** Button styles ******************/
/****************** Display and align styles ******************/
    .d-xs-block.d-table{
        display: inline-block;
    }

    .d-xs-block{display: block;}

    .d-xs-block.d-flex > .col,
    .d-xs-block.d-table > .cell{
        display: block;
        padding: 10px;
    }

    .d-xs-block.d-flex > .col.no-padding,
    .d-xs-block.d-table > .cell.no-padding{
        padding: 0;
    }
/****************** Display and align styles ******************/
/****************** Font Sizes ******************/
    .fs0 {
        font-size: 12px;
        line-height: 1.6;
    }

    .fs1 {
        font-size: 12px;
        line-height: 1.6;
    }

    .fs2 {
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 0.4px;
    }

    .fs3 {
        font-size: 16px;
        line-height: 1.6;
    }

    .fs4 {
        font-size: 18px;
        line-height: 1.6;
    }

    .fs5 {
        font-size: 20px;
        line-height: 1.3;
    }

    .fs6 {
        font-size: 20px;
        line-height: 1.3;
    }

    .hs1 {
        font-size: 60px;
        line-height: 1;
    }

    .hs2 {
        font-size: 40px;
        line-height: 1;
    }

    .hs3 {
        font-size: 32px;
        line-height: 1.2;
    }

    .hs4 {
        font-size: 26px;
        line-height: 1.2;
    }

    .hs5 {
        font-size: 24px;
        line-height: 1.3;
    }
/****************** Font Sizes ******************/
/****************** Common styles ******************/
    .secHeader {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .secBlock{
        padding: 20px 0 10px;
    }
/****************** Common styles ******************/
}

@media only screen and (max-width: 359px) {

}
